@using FinalWebsite.Data.Entities;
@using FinalWebsite.WebUI.View_Models;

@{
    ViewData["Title"] = "Edit";
}

@model MovieVM

<div class="col-sm-12 col-xl-12 d-flex justify-content-end mt-3">
    <div class="bg-secondary rounded h-100 p-4" style="width: 81% ">
        <h6 class="mb-4">Movie</h6>
        <form class="forms-sample" asp-action="Edit" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control" id="exampleInputName1" placeholder="Name">
                <span asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description">Description</label>
                <input asp-for="Description" class="form-control" id="exampleInputName1" placeholder="Description">
                <span asp-validation-for="Description"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year">Year</label>
                <input asp-for="Year" class="form-control" id="exampleInputName1" placeholder="Year">
                <span asp-validation-for="Year"></span>
            </div>
            <div class="form-group">
                <label asp-for="RunTime">RunTime</label>
                <input asp-for="RunTime" class="form-control" id="exampleInputName1" placeholder="RunTime">
                <span asp-validation-for="RunTime"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rate">Rate</label>
                <input asp-for="Rate" class="form-control" id="exampleInputName1" placeholder="Rate">
                <span asp-validation-for="Rate"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="DirectorId">Director</label>
                <select asp-for="DirectorId" asp-items="new SelectList(ViewBag.Directors, nameof(Director.Id), nameof(Director.FullName))"></select>
                <span asp-validation-for="DirectorId"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="GenreId">Genre</label>
                <select asp-for="GenreId" asp-items="new SelectList(ViewBag.Genres, nameof(Genre.Id), nameof(Genre.Name))"></select>
                <span asp-validation-for="GenreId"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="ActorIds">Actors</label><br />
                <select asp-for="ActorIds" asp-items="new SelectList(ViewBag.actors, nameof(Actor.Id), nameof(Actor.FullName))"></select>
                <span asp-validation-for="ActorIds"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="ImageFile">ImageFile</label>
                <input asp-for="ImageFile" class="form-control bg-dark" id="exampleInputName1" accept="image/*" placeholder="ImageFile">
                <span asp-validation-for="ImageFile"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoFile">VideoFile</label>
                <input asp-for="VideoFile" class="form-control bg-dark" id="exampleInputName1" placeholder="VideoFile">
                <span asp-validation-for="VideoFile"></span>
            </div>
            <br />
            <div>
                <button type="submit" class="btn btn-success mr-2">Submit</button>
                <button asp-action="Index" class="btn btn-light">Cancel</button>
            </div>

        </form>
    </div>
</div>
